.container{
    margin-inline: auto;
    width: 100%;
   
    background: rgb(147, 233, 147);
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    /* flex-direction: column; */
    border-radius: 8px;
}
/* .container_2{
    width: 200px;
    height: 200px;
    background: rgb(241, 124, 175);
    align-items: center;
    justify-content: flex-start;
    display: flex;
}
.container_3{
    width: 100px;
    height: 100px;
    background: rgb(106, 185, 246);
    align-items: center;
    justify-content: flex-end;
    display: flex;
}
.container_4{
    width: 50px;
    height: 50px;
    background: yellow;
}
.container, .container_2, .container_3,.container_4{
    border-radius: 8px;
} */
.container_item{
   
    background: pink;
    height: 50px;
    border-radius: 8px;
    justify-self: center;
    align-self: center;
    margin-inline: auto;
    

}
#container_item-1{
    flex: 1;
}